/* background colors  */
.ms_bg-navy { 
    background-color: #2C3E50;
    color: white;
}

.ms_bg-navylight {
    background-color: #3A546D;
    color: white;
}

.ms_bg-turquoise {
    background-color: #1ABC9C;
    color: white;
}

/* heights */
.ms_min-height-xs {
    min-height: 90px;
}

.ms_min-height-lg {
    min-height: 250px;
}

/* utilities */
.ms_ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 0;
}

.ms_a {
    text-decoration: none;
    color: currentColor;
}

.ms_a:hover {
    color: #1ABC9C;
}

/* sezioni */
#ms_header .container > .row {
    min-height: 90px;
}

#ms_jumbo {
    min-height: 580px;
}

#ms_portfolio {
    min-height: 850px;
}

#ms_about {
    min-height: 480px;
}

#ms_contact-me {
    min-height: 480px;
}

#ms_footer_info {
    min-height: 230px;
}

#ms_disclaimer {
    min-height: 110px;
}

/* debug */
/* .row, .container, .container-fluid {
    border: 2px solid black;
} */


