/* utilities */
img { max-width: 100%; }
ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
a:hover { color: #1ABC9C; }

/* background colors */
.ms_bg-navy  { background-color: #2C3E50; }
.ms_bg-turquoise { background-color: #1ABC9C; }
.ms_bg-navylight { background-color: #3A546D; }

/* generali */
.star-container::before, .star-container::after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 170px;
    border-radius: 50px;
    background-color: white;
}

#portfolio .star-container::before, #portfolio .star-container::after, #contact-me .star-container::before, #contact-me .star-container::after {
    background-color: black;
}

/* header */ 
#ms_header .container > .row { min-height: 90px; }

/* jumbo */
#jumbo_avatar { 
    max-width: 230px;
    margin: 0 auto;
}

/* portfolio */
.portfolio-card {
    border-radius: 5px;
    overflow: hidden;
}

/* about */
#about p {
    column-count: 2;
    column-gap: 10px;
}

/* #about button { margin: 0 auto; } */

/* contact me */

#contact-me input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    line-height: 30px;
}

#contact-me input#message { height: 200px; }

/* footer */
#footer-info { min-height: 230px; }

#footer-info a {
    text-decoration: none;
    color: #1abc9c;
}
#footer-info a:hover {
    color: #79d6c4;
}

#copyright .row { min-height: 110px; }

/* #ms_footer_info li {
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px 15px;
}*/
